<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>
    <h1>Blog Poster</h1>
    <h2>Topics</h2>
    <ul>
       <!-- displaying dinamic data from db -->
       {% for topic in topics %}
       <li><a href="/topic/{{ topics.topic_id }}">{{ topic.title }}</a></li>
       {% endfor %}

    </ul>

    <h3>Add a new topic</h3>
    <form action="/add/topic" method="POST">
        <div>
            <label for="topic_name">Topic name</label>
            <input type="text" name="topic-title">

        </div>
        <!-- by clicking user submits everything 2 the server -->
        <input type="submit" value="Add Topic"/>
    </form>
</body>
</html>